*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navStyle{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem;
  background:#edcfcf
}

.logoStyle{
  flex-grow: 1;
};

.logoImageStyle{
  width: '100px'
};

.buttonContainerStyle{
  display: 'flex';
}

.buttonStyle{
  margin:0 10px;
  text-decoration:none;
  color:black;
  font-size:16px;
}
.sum1{
  display: flex;
 
}
.sum2{
  margin: auto;
  margin-top:90px;
  color: green;
}
.table{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}